:root {
  --color-primary: rgb(227, 236, 243);
  --color-secondary: rgb(43, 46, 49);
  --color-tertiary: rgb(133, 141, 154);
  --color-highlight-dark: rgb(14, 113, 141);
  --color-highlight: rgb(4, 173, 220);
}

body {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  padding-top: 5rem;
  height: 90vh;
  gap: 1rem;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title,
.main-form > * {
  text-align: center;
  margin: 0;
}

hr {
  width: 50%;
  border: 0;
  border-top: 1px solid var(--color-highlight);
}

main {
  background-color: var(--color-tertiary);
  width: 30%;
  border-radius: 1rem;
  box-shadow: 0.15rem 0.15rem 1rem var(--color-tertiary);
  padding: 2rem;
  margin-top: 1rem;
}

.main-form {
  gap: 0.5rem;
}

.main-form > * {
  width: 80%;
  margin-top: 1rem;
}

label.title {
  font-size: 1.7rem;
  font-weight: 600;
}

.input,
button {
  font-size: 1.1rem;
  border-radius: 0.5rem;
  border: 0.12rem solid var(--color-secondary);
  padding: 0.75rem 0;
}

.input {
  margin: 0 !important;
}

button {
  border-color: var(--color-highlight-dark);
  background-color: var(--color-highlight);
  color: var(--color-primary);
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 500;
}

button:hover {
  border-color: var(--color-highlight);
  background-color: var(--color-highlight-dark);
}

button:active {
  border-color: var(--color-primary);
}

.graph {
  flex-grow: 1;
  margin-top: 3rem;
}

#chart {
  display: none;
  background-color: white;
  height: 100%;
}
